// 头部
$header_BG1:#0e183f;

// 布局的背景色
$body_BG1:#fff;
$body_BG2:#262f52;
$body_BG3:#39436a;
$body_BG4:#283259;
$body_BG5:#21aced;
$body_BG6:#f9f9fc;

// 元素边框
$box_bg1:#21aced;
$box_bg2:#e6e6e6;
$box_bg3:#36c;
$box_bg4:#21aced;
$box_bordr1:#ccc;
$box_bordr2:#333;
$box_bordr3:#36c;
$box_border-e-1:#DCDFE6;
$box_border-e-2:#E4E7ED;
$box_border-e-3:#EBEEF5;
$box_border-e-4:#F2F6FC;
$box_font1:#333;
$box_font2:#666;
$box_font3:#999;
$box_font4:#36c;

$border1:1px solid $box_border-e-1;
$border2:1px solid $box_border-e-2;
$border3:1px solid $box_border-e-3;
$border4:1px solid $box_border-e-4;

// 表格
$table_th_bg1:#21aced;
$table_th_bg2:#21aced;
$table_th_bg3:#21aced;
$table_td_bg1:#21aced;
$table_td_bg2:#21aced;
$table_td_bg3:#21aced;
$table_th_font1:#eee;
$table_th_font2:#eee;
$table_th_font3:#eee;
$table_td_font1:#eee;
$table_td_font2:#eee;
$table_td_font3:#eee;
$table_border1:#eee;
$table_border2:#eee;
$table_border3:#eee;

// 弹窗
$title_BG1:#293152;
$title_BG2:#293152;
$title_BG3:#293152;
$title_font1:#fff;
$title_font2:#fff;
$title_font3:#fff;

// 按钮背景色和按钮字体颜色
$btn_BG1:#36c;
$btn_BG2:#36c;
$btn_BG3:#36c;
$btn_BG4:#36c;
$btn_BG5:#36c;
$btn_font1:#fff;
$btn_font2:#36c;
$btn_font3:#36c;
$btn_font4:#36c;
$btn_font5:#36c;

// icon
$icon_color1:#08c397;
$icon_color2:#21aced;
$icon_color3:#e4b617;
$icon_color4:#d38545;
$icon_color5:#1890ff;
$icon_color6:#eb6363;
$icon_color7:#fc8f37;

// 内容区域字体颜色 --数组后缀为浅色，字母为深色
$font_color1:#fff; 
$font_color2:#eee;
$font_colora:#333;
$font_colorb:#666;
$font_colorc:#999;
$font_colord:#36c;

// 其它
$slider-bg1:#08c397;
$slider-bg2:#21aced;
$slider-bg3:#e4b617;
$slider-bg4:#d38545;


$el-color-brand:#409EFF;
$el-color-success:#67C23A;
$el-color-warning:#E6A23C;
$el-color-danger:#F56C6C;
$el-color-info:#909399;

