.mar-10 {
    margin: 10px;
}

.mar-t-10 {
    margin-top: 10px;
}

.mar-r-10 {
    margin-right: 10px;
}

.mar-b-10 {
    margin-bottom: 10px;
}

.mar-l-10 {
    margin-left: 10px;
}

.mar-20 {
    margin: 20px;
}

.mar-t-20 {
    margin-top: 20px;
}

.mar-r-20 {
    margin-right: 20px;
}

.mar-b-20 {
    margin-bottom: 20px;
}

.mar-l-20 {
    margin-left: 20px;
}

.pad-10{
    padding: 10px;
}
.pad-t-10{
    padding-top: 10px;
}
.pad-r-10{
    padding-right: 10px;
}
.pad-b-10{
    padding-bottom: 10px;
}
.pad-l-10{
    padding-left: 10px;
}
.pad-20{
    padding: 20px;
}
.pad-t-20{
    padding-top: 20px;
}
.pad-r-20{
    padding-right: 20px;
}
.pad-b-20{
    padding-bottom: 20px;
}
.pad-l-20{
    padding-left: 20px;
}